.Select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  padding: 20px 30px;
  background-color: var(--primary-color);
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: var(--shadow);
  color: var(--text-color);
  &:focus > .Select__Options {
    display: flex;
  }
  &__Options {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
    flex-direction: column;
    border-radius: inherit;
    background-color: var(--primary-color);
    overflow: hidden;
  }
  &__Option {
    padding: 10px 30px;
    &:hover {
      background-color: var(--secondary-color);
    }
  }
}
