.SearchBox {
  display: flex;
  align-items: center;
  min-width: 38%;
  padding: 0 30px;
  border-radius: var(--radius);
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  &__Input {
    width: 100%;
    border: 0;
    margin-left: 15px;
    padding: 20px;
    font-size: var(--body-copy-detail);
    background-color: transparent;
    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: var(--gray);
    }
  }
}
